html {
  background-color: #F06027;
}

.logo {
position: absolute;
  margin-left: 35rem;
  margin-top: -30rem;
} 

 .main {
  margin-left: 6rem;
  position: absolute;
  margin-top: 10rem;
}
h1 {
  color: #fae440;
  font-family: Alte Haas Grotesk;
  font-size: 35px;
  font-weight: 200;

}
.par {
  margin-top: -35px;
} 
h2 {
  color: white;
  text-transform: uppercase;
  font-size: 50.5px;
  margin-top: -15px;
  font-family: Alte Haas Grotesk;
}
input {
  font-size: 18px;
  width: 330px;
  padding: 17px;
  height: 10px;
  margin-top: -2rem;
}
input::placeholder {
  opacity: 46%;
}



.topLogo {
  margin-left: 6rem;
  margin-top: 2rem;
}

.social {
  margin-top: 1rem;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.socials{
  display:inline-flex;
  
}
 p {
  margin-left: 10px;
  font-size: 20px;
  margin-top: 18px;
  color: #fae440;
  font-family: Alte Haas Grotesk;

}
.main-text {
  margin-left: 2rem;
  margin-top: -2rem;
}


p:hover {
  font-size: 25px;
  transition: 0.6s;
  color: lightcyan;
}

button {
  background-color: #F06027;
  border: 1px solid white;
padding: 12px 30px 12px 30px;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-family: Alte Haas Grotesk;
  cursor: pointer;
  
}
button:hover {
  color: lightgray;
  transition: 0.5s;
 border-radius: 10px;
}

.success {

  margin-bottom: 0.5rem;
  font-size: 15px;
 
 
}


