@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .App {
          display: block;
      }
    .topLogo {
      margin-left: 10px;
      height: 15px;
      margin-top: 1rem;
    }
    .main {
        margin-left: 14px;
        margin-top: 5rem;

    }
    h1{
        font-size: 30px;
        /* margin-left: 4rem; */
    }
    h2 {
        font-size: 40px;
        /* margin-left: 4rem; */
    }
   
    input {
        width: 215px;
        height: 1px;
        font-size: 12px;
        margin-left: -3px;
        padding: 15px;
    }
    .logo {
        display: block;
        margin-left: 15px;
        height: 330px;
        width: 330px;
        margin-top: 20rem;
    }
    .par {
        margin-top: -23px;
    }
    #notify-btn {
        padding: 5px 10px 7px 10px;
        display: inline;
        margin-left:4px;
        margin-top: 1rem;
    }
    p{
        font-size: 15px;
    }
     


}